<div data-ng-controller="CharactersController">

    <h1>Characters (<a href="#/characters">view</a>)</h1>

    <ul data-ng-if="characters != undefined">
        <li data-ng-repeat="character in characters">
            <div class="item" data-ng-attr-class="{{character.statusClass}}">
            <label>
                Name: <input type="text" data-ng-model="character.name" /> Class: <input type="text" data-ng-model="character.statusClass" />
            </label>
            <button data-ng-click="remove($index)"
                    >Delete</button>
            </div>
        </li>
    </ul>

    <button data-ng-click="addNew()">New</button>

</div>